@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

body,
button {
  font-family: "Lato", sans-serif;
}

header {
  text-align: center;
  padding: 0.5rem;
}
button:active {
  background-color: #72c3dc;
  box-shadow: 0 5px #2b8ead;
  transform: translateY(4px);
}
button:disabled,
button[disabled]{
  border: 1px solid #bfbfbf;
  background-color: #bfbfbf;
  box-shadow: 0 5px #bfbfbf;
  color: #666666;
  cursor: not-allowed;
}

@media only screen and (min-width: 577px) {
  body {
    background-color: #efefef;
  }
  .buttons {
    grid-column: 2;
    grid-row: 1 / 2;
    padding: 0 2rem;
  }

  .button {
    border: none;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    width: 15rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    background-color: #72c3dc;
    border-radius: 15px;
    box-shadow: 0 9px #2b8ead;
    display: block;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  .tiles {
    grid-column: 1 / 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .tile {
    text-align: center;
    font-size: 4rem;
    color: #ffffff;
    height: 10rem;
    line-height: 10rem;
    transform: scale(1);
  }

  .tile:active {
    transform: scale(0.97);
    transition: transform 0.2s;
  }

  .dirtyBlueTile {
    background-color: #6f98a8;
  }
  .blueTile {
    background-color: #72c3dc;
  }
  .darkBlueTile {
    background-color: #2f454e;
  }
  .greyTile {
    background-color: #bfbfbf;
  }
}
@media only screen and (max-width: 576px) {
  header {
    background-color: #000000;
    color: #ffffff;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }

  .button {
    border: none;
    padding: 1rem 1rem;
    width: 8rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #72c3dc;
    border-radius: 15px;
    box-shadow: 0 9px #2b8ead;
    margin: 1rem 0.5rem;
  }
  .tiles {
    grid-column: 1;
    grid-row: 1;
  }
  .tile {
    text-align: center;
    border-left: 10px Solid;
    background-color: #efefef;
    height: 2rem;
    line-height: 2rem;
    color: #000000;
    margin: 0.75rem;
    transform: scale(1);
  }

  .tile:active {
    transform: scale(0.97);
    transition: transform 0.2s;
  }
  .dirtyBlueTile {
    border-left-color: #6f98a8;
  }
  .blueTile {
    border-left-color: #72c3dc;
  }
  .darkBlueTile {
    border-left-color: #2f454e;
  }
  .greyTile {
    border-left-color: #bfbfbf;
  }
}

footer {
  padding: 2rem;
  text-align: center;
  font-style: italic;
}
